streamlit>=1.45.0
gitpython>=3.1.43
pydantic>=2.11.0
pydantic-settings>=2.9.0
networkx>=3.4
python-dotenv>=1.1.0
pytest>=8.3.0
pytest-cov>=6.0

langgraph>=0.4.0
langchain-core>=0.3.0
langchain>=0.3.0
langchain-ollama>=0.1.0
plotly>=6.0.0
streamlit-agraph>=0.0.45
langchain-google-genai>=1.0.0
